body {
    font-family: 'Katana', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Set text color to white for better contrast */
    background-color: #333;
    text-align: center;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards img {
    width: 100%;
    border-radius: 5px;
  }
  .goback-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .goback-btn:hover {
    background-color: #45a049;
    color: white;
  }
